.contactItem{
    margin: 15px auto;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border: 2px solid rgb(61, 58, 58) ;
    border-radius: 8px;

}


.messege {
    width: 20%;
    height: 80px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    background: #F2F7FE;
    color:#005FEC;
    border: 1px solid #005FEC;
    border-radius: 8px;
}

.content {
    width: 70%;
    display: flex;
    column-gap: 10px;
}